.textContainer {
    border: turquoise 2px solid;
    margin: 10px;
}

.textName {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}

.textBody {
    padding: 10px;
}