.headerContainer {
    padding: 20px;
    border-bottom: gray 2px solid;
}

.headerContentContainer {
    width: 60%;
}

.headerContent {
    color: black;
    font-size: 18px;
}

.headerMenu {
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-around;
}

.tooglerHeaderAdditionalContent {
    color: blue;
    cursor: pointer;
}

.headerButton {
    margin: 0.25em;
    border: 1px solid grey; 
    border-radius: 0.5em;
}

.headerButton a {
    text-decoration: none;
}
